/* Estilos generales */

body {
    margin: 2px;
    padding: 0;
}

/* Estilos del encabezado */
header{
    border-bottom: 1px solid black;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: #b4b4b4;
}

.logo img {
    height: 37px;
    width: 50px;
}

.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.menu li {
    padding: 5px;
    margin: 0 30px;
    position: relative;
    left: -30px;
}

.menu li a {
    text-decoration: none;
    color: #333;
}

.cart-icon img {
    height: 30px;
}


.delivery{
    position: relative;
    left: -150px;
}
.numero{
    font-family:'Courier New', Courier, monospace;
}

.inicio{
    display: flex;
    justify-content: center;
    list-style-type: none;    
}
.inicio li{
    margin: 0 30px;
}
.inicio li a{
color: aliceblue;
text-decoration: none;
}
.encabezado img{
height: 50px;
justify-content: center;
list-style-type: none;  
}

.header1 {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: #b4b4b4;
}

.logo img {
    height: 50px;
}

.menu1 {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.menu1 li {
    position: relative;
    left: -200px;
    margin: 0 30px;
}

.menu1 li a {
    text-decoration: none;
    color: #333;
}

.cart-icon1 img {
    height: 30px;
}

.search {
    position: relative;
    left: -450px;
    padding: 10px;
    border-radius: 5px ;
}
.container{
    position: relative;
    width: 100%;
    height: 100px;
}
.palabra{
    position: absolute;
    top: 50px;
    left: 0;
    transform: translateY(-50%);
    animation: mover 5s linear infinite;
}
@keyframes mover{
    from{
        left: 0;
    }
to{
    left: calc(100%-50px);
}
}


body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    background-color: #d8d8d8;
}

.name {
    color: rgb(0, 0, 0);

}

.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: rgb(0, 0, 0);
}

.menu li {
    margin: 0 30px;
    color: rgb(0, 0, 0);
}

.menu li a {
    text-decoration: none;
    color: #000000;
}


.vista img {
    object-fit: cover;
    height: 150px;
    width: 100%;
}
.vista h1{
    position: relative;
    top: -150px;
    color: white;
    text-align: center;
}


.vista button{
    position: relative;
    top: -150px;
    width: 60%;
    background-color: #ff2e63;
    color:#fff;
    border: none;
    border-radius: #ff2e63;
    padding: 10px;
}
.div-boton{
    display: flex;
    justify-content: center;

}


.cardsP {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 0px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.product-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 0px;
}

.product-item .card-info {
    margin-top: 10px;
}

.product-item .card-info h3 {
    margin: 0;
    padding: 0;
}

.product-item .price {
    margin-bottom: 20px;

}

.product-item .buy-button {
    padding: 5px 5px;
    background-color: #ff2e63;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.chef {
   border: 1px solid transparent;
   background-color: #ffffff; 
   justify-content: space-evenly;
   background-color: #ffdab9;
}

.recom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
   
}
.product-item{
    background-color: white;
}
.cardP {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;

   
}
.buy-boton{
    display: flex;
    background-color: #222;
    color: #ddd;
    justify-content: start;
    align-items: end;
    border-radius: 5px;
}
.pric{
    display: flex;
    justify-content: start;
    align-items: end;
}











